<html>

<head>
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">

-->
	<script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">

	</script>
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue">

	</script>
<!-- inicia head circle range	-->
	 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="dist/main.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
<!-- fim head circle range	-->	

<script>
window.onload = function () {

var dps = []; // dataPoints
var chart = new CanvasJS.Chart("chartContainer", {
	title :{
		text: "Dynamic Data"
	},
	data: [{
		type: "line",
		dataPoints: dps
	}]
});

var xVal = 0;
var yVal = 100; 
var updateInterval = 1000;
var dataLength = 20; // number of dataPoints visible at any point

var updateChart = function (count) {

	count = count || 1;

	for (var j = 0; j < count; j++) {
		yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
		dps.push({
			x: xVal,
			y: yVal
		});
		xVal++;
	}

	if (dps.length > dataLength) {
		dps.shift();
	}

	chart.render();
};

updateChart(dataLength);
setInterval(function(){updateChart()}, updateInterval);

}
</script>






</head>

<body>  
	<!-- inicia circle range -->
<div class="container">
    <div id="circle8" class="circle-default-style"></div>
</div>
<script type="text/javascript" src="../dist/circliful.js"></script>
<script>
  
</script>
	<!-- fim circle range -->
	
	
<!--Inicia o gráfico	-->
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!--finaliza o gráfico	-->

	<div id="app" class="container">
		<div class="jumbotron">
			<h1>Hello from ROSDS!</h1>
		</div>



		<div class="row" style="max-height:200px;">
			<div class="col-md-6">
				<h3>Connection status</h3>
				<p class="text-danger" v-if="!connected">Not connected!</p>
				<p class="text-success" v-if="connected">Connected!</p>
				<label>Websocket server address</label>
                <input type="text" v-model="ws_address" />
                <br><br>
                <button :disabled="loading" class="btn btn-danger" @click="disconnect" v-if="connected">Disconnect!</button>
                <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
			</div>
			<div class="col-md-6" style="max-height:200px; overflow:auto;">
				<h3>Log messages</h3>
                <div>
                    <p v-for="log of logs">{{ log }}</p>
                </div>
			</div>
		</div>

        <hr>

        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Commands</h5>
            </div>

            <!-- 1st row -->
            <div class="col-md-12 text-center">
                <button @click="forward" :disabled="loading || !connected" class="btn btn-primary">Go forward</button>
                <br><br>
            </div>

            <!-- 2nd row -->
      <div class="col-md-4 text-center">
                <button @click="turnLeft" :disabled="loading || !connected" class="btn btn-primary">Turn left</button>
            </div>
            <div class="col-md-4 text-center">
                <button @click="stop" :disabled="loading || !connected" class="btn btn-danger">Stop</button>
                <br><br>
            </div>
            <div class="col-md-4 text-center">
                <button @click="turnRight" :disabled="loading || !connected" class="btn btn-primary">Turn right</button>
            </div>

            <!-- 3rd row -->
          <div class="col-md-12 text-center">
                <button @click="backward" :disabled="loading || !connected" class="btn btn-primary">Go backward</button>
            </div>
        </div>

	</div>

	<script type="text/javascript" src="main.js">

	</script>
</body>

</html>